
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width"/>

    <title>Inicio</title>
  </head>

  <body>
    <div>
      Inicio de la Aplicacion
    </div>
  </body>
</html>
