
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_MasterOMB.cshtml";
}


<div class="panel">
  <div class="panel-heading">
    <h2>Ingreso al Sistema para Empleados</h2>
  </div>

  @{ Html.BeginForm();}

  <div class="panel-body">
    <div class="form-group">
      <label for="txtLogin">Login</label>
      @Html.TextBox("txtLogin", null, new { @class = "form-control", autofocus = "autofocus", style = "width: 50%;" })
    </div>

    <div class="form-group">
      <label for="txtPassword">Password</label>
      @Html.Password("txtPassword", null, new { @class = "form-control" })
    </div>

  </div>

  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">Acceder!</button>
  </div>

  @{ Html.EndForm();}

</div>